<div class="flex-container">
  <div class="text-form">
    <div class="card" style="width: 14rem;">
      <img class="card-img-top" src="{{'data:image/png;base64,'+ picture}}">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description | summary: 15}} <br> Type: {{type}} <br> Price: {{price}} <br> Pages: {{number}}</p>
        <div class="list">
          <mat-icon (click)="addToCart()">shopping_cart</mat-icon>
          <a [routerLink]="['/book-page/'+book_id]" class="card-link">View more</a>
        </div>
      </div>
    </div>
  </div>
</div>
