<div class="flex-container" *ngIf="books !== undefined">
  <div class="text-form">
    <img src="{{'data:image/png;base64,'+ books.picture}}">
    <div class="title">
      {{books.title}}
    </div>
    Gatunek książki: {{books.type}}
    <br>
    Cena: {{books.price}}
    <br>
    Liczba stron: {{books.number}}
    <br>
    <div class="subtitle">
      Opis książki
    </div>
    {{books.description}}
  </div>
</div>
<br><br>
<div class="flex-container">
  <button mat-button class="btn btn-primary" (click)="backPage()">Back</button>
</div>
